html {
  background-color: rgb(226, 253, 244);
}
.App {
  /* display: flex;
  justify-content: center; */
}
.tree {
  max-height: 80vh;
  max-width: 80vw;
  padding-top: 2rem;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.grid {
  /* position: absolute;
  padding-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center; */
}

.box {
  border: 1px solid black;
  width: 2px;
  height: 2px;
  position: absolute;
}
.box:hover {
  cursor: pointer;
}

.star-hide {
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.frog {
  animation: frog-appear 2s linear;
  margin-top: 40vh;
  max-width: 80%;
}

@keyframes frog-appear {
  0% {
    transform: translate(35vw, -55vh) scale(10%) rotate(-25deg);
  }
  20% {
    transform: translate(10vw, -65vh) scale(30%) rotate(-15deg);
  }
  100% {
    transform: translate(0rem, 0rem) scale(100%) rotate(0deg)
  }
}
