html {
  background-color: rgb(226, 253, 244);
}
.App {
  /* display: flex;
  justify-content: center; */
}
.tree {
  height: 80vh;
  max-width: 80vw;
  padding-top: 2rem;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.grid {
  padding-top: 2rem;
  border: 2px solid red;
  height: 80vh;
  max-width: 80vw;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  /* position: absolute; */
  /* position: absolute;
  padding-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center; */
}

.hiding-container {
  position: relative;
  border: 2px solid purple;
}

.box {
  border: 1px solid black;
  width: 2px;
  height: 2px;
  position: absolute;
}
.box:hover {
  cursor: pointer;
}

.star-hide {
  top: 3vh;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.pot-hide {
  top: 70vh;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.presents-container {
 border: 2px solid blueviolet;
 display: flex;
 position: fixed;
 bottom: 0;
 width: 80vw;
 height: 15vh;
 margin-right: auto;
 margin-left: auto;
left: 0;
right: 0;
}
.present {
  border: 2px solid cyan;
  width: 20%;
}
.present-image {
  max-width: 90%;
}

.frog {
  /* animation: frog-appear 1s linear; */
  /* margin-top: 40vh; */
  max-width: 20%;
  display: flex;
  border: 2px solid blue;
  bottom: 0
  /* position: absolute; */
  /* bottom: 0; */
}


/* @keyframes frog-appear {
  0% {
    transform: translate(25vw, -45vh) scale(10%) rotate(-25deg);
  }
  20% {
    transform: translate(10vw, -55vh) scale(30%) rotate(-15deg);
  }
  100% {
    transform: translate(0rem, 0rem) scale(100%) rotate(0deg)
  }
} */
